{% extends 'basic.html' %}
{% block content %}
    {% include 'header.html' %}
    <h1>YOUR FRIENDS</h1>
    {% for friend in friends %}
        <h5>{{ friend.get_profile }}</h5>
    {% endfor %}
    <h1>Requests</h1>
    {% for friend in requests %}
        <h5>{{ friend.get_profile }}</h5>
        <button class="accbtn" data-id="{{ friend.get_profile.id }}">Accept request</button>
    {% endfor %}
    <h1>Send requests</h1>
    {% for friend in send %}
        <h5>{{ friend }}</h5>
        <button class="reqbtn" data-id="{{ friend.id }}">Send request</button>
    {% endfor %}
{% endblock %}
{% load staticfiles %}

{% load staticfiles %}
{% block head_content %}
    <link href="{% static 'css/header.css' %}" rel="stylesheet">
    <script src="{% static 'js/home-ajax.js' %}"></script>
{% endblock %}